body { background-color: rgba(240, 240, 240, 0.4);
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  padding-top: 4%;
  font-weight: bolder;
}

footer { text-align: center;
  padding-bottom: 25px;
  padding-top: 12px;
}

